<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> MENU </title>
</head>

<body bgcolor="silver">

  <h2 align="center"> MENU </h2>

   <ul>
     <li><a href="inicio.html" target="conteudo" title=""> INÍCIO </a></li>
     <li><a href="pagina1.html" target="conteudo" title=""> LINK1 </a></li>
     <li><a href="pagina2.html" target="conteudo" title=""> LINK2 </a></li>
     <li><a href="pagina3.html" target="conteudo" title=""> LINK3 </a></li>
     <li><a href="pagina4.html" target="conteudo" title=""> LINK4 </a></li>
     <li><a href="pagina5.html" target="conteudo" title=""> LINK5 </a></li>
     <li><a href="pagina6.html" target="conteudo" title=""> LINK6 </a></li>
   </ul>

</body>

</html>
